@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.cabecalho-imagem {
    width: 63px;
    height: 63px;
    
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: 'Roboto', sans-serif;
    color: #fff2e7;
    font-weight: 400;
    font-size: 18px;
    text-shadow: 1px 1px 2px black;
}

body {
    font-size: 100%;
    background: rgb(43,113,113);
    background: linear-gradient(130deg, rgba(43,113,113,1) 0%, rgba(121,207,227,1) 100%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.conteudo {
    margin-bottom: 88px;
    border-top: 0.4px solid #fff2e7;
}

.conteudo-principal-imagem {
    width: 150px;
    height: 150px;
    border-radius: 75px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 64px;
    color: #fff2e7;
    padding-top: 20px;
    text-shadow: 1px 1px 2px black;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #fff2e7;
    text-shadow: 1px 1px 2px black;
}

.conteudo-principal-escrito-botao {
    background-color: azure;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #2f2325;
}

.conteudo-principal-escrito-botao:hover{
    background-color: rgb(168, 211, 211);
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 80px;
    margin-bottom: 50px;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #fff2e7;
    padding-top: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 23px;
    color: #fff2e7;
    text-shadow: 1px 1px 2px black;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #fff2e7;
    text-shadow: 1px 1px 2px black;
}

#linkedin {
    width: 25px;
    height: 25px;
    display: block;
    margin: 0 auto;
    
}
#git {
    width: 25px;
    height: 25px;
    display: block;
    margin: 0 auto;
    
}

.rodape{
    border-top: 0.4px solid #fff2e7;
    padding: 32px;
    display: flex;
    gap: 32px;
    
}

